@import '../../styles/global.scss';
@import '../../styles/vars.scss';

.tooltip {
    position: relative;
    &_img {
       max-width: 25px;
       cursor: pointer;
    }
    &_content {
        display: inline-block;
        width: 250px;
        position: absolute;
        top: -120px;
        left: 0;
        background: #fff;
        padding: 10px;
        border-radius: 4px;
        @include shadow;
    }
    .key {
        font-size: 18px;
        font-weight: 500;
    }
}