@import '../../styles/global.scss';
@import '../../styles/vars.scss';

.card {
    width: 250px;
    padding: 10px;
    @include column(5px);
    &_img { width: 100%; }
    &_title {
        width: 100%;
        text-align: center;
        font-size: 25px;
    }
}
.favorite {
    animation: favorite-anim 1s ease-in 0s infinite normal forwards;
}

@keyframes favorite-anim {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}