@import '../../styles/vars.scss';

.page_header {
    width: 95%;
    text-align: left;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 500;
    color: $primary-blue;
    border-bottom: 1px solid $primary-blue;

}