@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.mastery {
    max-width: 250px;
    max-height: 290px;
    width: 100%;
    &_img {
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
    }
    &_title {
        font-size: 30px;
        text-align: center;
    }
}