@import '../../styles/global.scss';
@import '../../styles/vars.scss';

.scroller {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    background: $primary-blue;
    opacity: 0.7;
    position: fixed;
    bottom: 65px;
    right: 65px;
    font-size: 50px;
    z-index: 200;
    &:hover {
        opacity: 1;
    }

    @include flex-center;
}