@import '../../../styles/global.scss';
@import '../../../styles/vars.scss';

.layout {
    width: 100%;
    gap: 15px;
    @include flex-between;
}
.content {
    width: 100%;
    height: 100vh;
    padding: 50px 15px 15px 15px;
    background: $primary-perple;
}