@import '../../styles/global.scss';
@import '../../styles/vars.scss';

.clans {
    .container { @include container; padding-top: 25px; }
    .input-holder {
        width: 60%;
        margin: 0 auto;
        padding-top: 25px;
    }
}