$primary-black: #292C50;
$primary-perple: #F6F8FF;
$primary-blue: #6058E9;
$primary-grey: #F3F3F3;
$star-blue: rgb(40, 148, 181);
$star-yellow: #c3cc0a;
$primary-red: #db724c;
$primary-green: #98e182;
$star-size: 35px;