@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.members {
    padding-top: 50px;
    p {
        font-size: 25px;
        padding: 10px 0;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 18px;
        th, td {
            padding: 10px;
            text-align: left;
        }
        tr {
            &:hover {
            td {
                background: $primary-grey;
            }
            }
        }
    }
}