@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.points {
    max-width: 145px;
    width: 100%;
    @include flex-between;
    &_star {
        @include star($star-yellow)
    }
    &_value {
        font-weight: 500;
        font-size: 25px;
    }
}