@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.trophie {
    width: 85px;
    @include flex-between;
    
    &_amount {
        font-size: 25px;
        font-weight: 500;
    }
}
.amount_title {
    font-size: 18px;
}