@import '../../../../styles/global.scss';
@import '../../../../styles/vars.scss';

.trophie {
    width: 100%;
    max-width: 25%;
    @include flex-between;
    
    &_amount {
        font-size: 25px;
        font-weight: 500;
        margin-left: 15px;
    }
}
.amount_title {
    font-size: 18px;
}